@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}
    

.card {
   
    background: #fff;
    border-radius: 8px;
}

  .card .image-box {
        height: 155px;
}


.card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
    
}


.profile-details .name {
    font-size: 15px;
    font-weight: 500;

}

.profile-details .job{
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;

}


.card .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
}

.section_area_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.section_grid_item{
    text-align: center;
}

.section_item_img img{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .section_area_grid{
        grid-template-columns: 1fr 1fr;
    }
    .section_item_img img{
        width: 100%;
    }
    .section_grid_item{
        padding: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .section_area_grid{
        grid-template-columns: 1fr 1fr;
    }
    .section_item_img img{
        width: 100%;
    }
    .section_grid_item{
        padding: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .section_area_grid{
        grid-template-columns: 1fr;
    }
    .section_item_img img{
        width: 100%;
    }
    .section_grid_item{
        padding: 1rem;
    }
}
